html
    font-size: 16px
    
*
    font-family: Roboto, sans-serif

h2
    font-size: 2.2rem
    margin: 0 auto
    margin-top: 4rem

h3
    font-size: 1.4rem
    margin-top: 1rem
    font-weight: 700

.hided
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 1
    display: none
    padding: 0 15px
    &_shadow
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        background: rgba(0, 0, 0, 0.4)
        &_button
            background: none
            color: white
            font-size: 1rem
            font-weight: 400
            width: 10rem
            height: 2.5rem
            border: solid 1px white
            border-radius: 10px
            cursor: pointer
            &:hover
                background: white
                color: black    


.text_right
    text-align: right

.right_rounded
    border-radius: 0 10px 10px 0

.left_rounded
    border-radius: 10px 0 0 10px

.card_hover
    &:hover
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.15)
        transform: translate(0,-5px)
        transition: 0.15s all
        cursor: pointer

.header
    height: 8rem
    display: flex
    align-items: center
    a
        color: white
        &:hover
            text-decoration: none
    &_logotxt
        display: flex
        justify-content: start
        align-items: center
        height: 100%
        a
            font-size: 1.6rem
            font-weight: 500
    &_nav
        height: 100%
        padding-top: 1rem
        ul
            height: 100%
            display: flex
            justify-content: center
            list-style-type: none
            li
                margin-right: 2rem
                a
                    font-size: 0.95rem
                    font-weight: 400
    &_phone
        display: flex
        justify-content: center
        &_icon
            margin-right: 0.5rem
            img
                height: 1.1rem
        &_number
            font-size: 1.3rem
            font-weight: 500
    &_recall
        display: flex
        justify-content: center
        a
            font-size: 0.95rem
            font-weight: 400
            text-decoration: underline
            &:hover
                text-decoration: underline

.main
    background: url('/img/main_bg.jpg') center center/cover no-repeat
    height: 38rem
    padding-top: 8rem
    margin-top: -8rem
    &_title
        h1
            color: white
            font-size: 3.5rem
            font-weight: 900
            line-height: 3.5rem
            margin-bottom: 1rem
    &_subtitle
        color: white
        font-size: 1.65rem
        font-weight: 400
        line-height: 2rem
        margin-bottom: 1.2rem
    &_button
        background: none
        color: white
        font-size: 1.35rem
        font-weight: 400
        width: 15rem
        height: 4rem
        border: solid 2px white
        border-radius: 15px
        cursor: pointer
        &:hover
            background: white
            color: gray

.rent
    text-align: center
    padding-bottom: 4rem
    &_card
        margin: 0 auto
        max-width: 15.9rem
        margin-top: 3rem
        border: 1px solid #E1E1E1
        border-radius: 10px
        &_pic
            margin-bottom: 1.5rem
            border-radius: 10px 10px 0 0
            overflow: hidden
            img
                width: 100%
        &_title
            margin-bottom: 0.6rem
            font-size: 1.15rem
            font-weight: 400
        &_price
            margin-bottom: 1rem
            font-size: 1.5rem
            font-weight: 700
            span
                font-size: 1.2rem
        &_button
            margin-bottom: 1rem
            font-size: 0.9rem
            font-weight: 400
            color: #183E87
            background: none
            border: 1px solid #183E87
            width: 10rem
            margin: 0 auto
            border-radius: 5px
            height: 2.2rem
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 1.6rem
            cursor: pointer
            &:hover
                background: #183E87
                color: white

.services
    background: #F0F0F0
    padding-bottom: 4rem
    &_card
        background: white
        margin-top: 3rem
        border-radius: 10px
        &_icon
            height: 100%
            display: flex
            justify-content: center
            align-items: center
        &_text
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center
            ul
                line-height: 1.1rem
                padding-left: 0
                list-style-type: none
                li
                    font-size: 0.8rem
                    color: #707070
        &_img
            overflow: hidden
            img      

.services_card:hover .hided
    display: block

.request
    padding-bottom: 3rem
    background: #183E87
    h2
        color: white
    &_subtitle
        width: 100%
        color: white
        text-align: center
        font-size: 1rem
        font-weight: 400
        margin-bottom: 1rem
    &_form
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        input
            width: 100%
            height: 2.2rem
            border-radius: 5px
            border: none
            padding-left: 1.2rem
            &::placeholder
                //color: red
        button
            margin-top: 0.5rem
            font-size: 1rem
            font-weight: 400
            color: white
            background: none
            border: 1px solid white
            width: 15rem
            border-radius: 5px
            height: 3rem
            cursor: pointer
            &:hover
                background: white
                color: #183E87
        &>*
            margin-bottom: 1rem

.contacts
    padding-bottom: 3rem
    &_text
        height: 100%
        margin-top: 2rem
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        &_bold
            margin-bottom: 0.3rem
            font-size: 1.2rem
            font-weight: 500
        &_light
            margin-bottom: 2rem
            font-size: 1rem
            font-weight: 300
        &_button
            width: 10rem
            height: 2.5rem
            color: white
            background: #183E87
            border-radius: 5px
            font-size: 0.9rem
            display: flex
            justify-content: center
            align-items: center
        a
            display: block
            height: 2.5rem
    &_map
        margin-top: 4rem
        display: flex
        justify-content: center
    

.footer
    height: 4rem
    background: #183E87
    display: flex
    justify-content: center
    align-items: center
    &_text
        color: white
        font-size: 0.8rem

        

@import 'media'
